.colors-container {
    appearance: none;
    border: none;
    position: relative;
    height: 0;
    transition: all .15s ease-out 0s;
    background-color: #F0F0F0;
    cursor: pointer;

    @include pc-layout {
        width: 169px;
        padding-top: 169px;
        margin: 4px;
        box-shadow: 0 0 6px rgba(0, 0, 0, .2);
    }

    @include sp-layout {
        width: calc(25% - 5px);
        padding-top: calc(25% - 8px);
        margin: 2px;
        box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    }

    &:focus {
        outline: 0;

        @include sp-layout {
            box-shadow: 0 0 0 0 transparent;
        }
    }

    &:hover div:nth-child(1) {
        @include pc-layout {
            transform: scale(.6);
            border-radius: 50%;
        }

        &::after {
            animation: beat .8s cubic-bezier(0.7, -0.02, 0.24, 0.98) .3s infinite;
        }
    }

    &:hover span {
        color: #aaa;
        text-shadow: 0 0 0 transparent;
    }

    &:hover span:nth-child(2) {
        color: red;
        text-shadow: 0 0 0 transparent;
    }
}

.colors-bg-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all .45s cubic-bezier(0, 0, 0, 1.01) 0s;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
    }
}

.colors-color-code {
    position: absolute;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all .45s cubic-bezier(0, 0, 0, 1.01) 0s;

    @include pc-layout {
        font-size: 12px;
        padding: 5px;
        text-shadow: 0 0 3px rgba(0, 0, 0, .5);
    }

    @include sp-layout {
        font-size: 9px;
        padding: 2.5px;
        text-shadow: 0 0 1px rgba(0, 0, 0, .5);
    }
}

.colors-product-name {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all .45s cubic-bezier(0, 0, 0, 1.01) 0s;

    @include pc-layout {
        font-size: 12px;
        padding: 5px;
        text-shadow: 0 0 3px rgba(0, 0, 0, .5);
    }

    @include sp-layout {
        font-size: 9px;
        padding: 2.5px;
        text-shadow: 0 0 1px rgba(0, 0, 0, .5);
    }
}

.colors-code-copy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all .45s cubic-bezier(0, 0, 0, 1.01) 0s;

    @include pc-layout {
        font-size: 12px;
        padding: 5px;
        text-shadow: 0 0 3px rgba(0, 0, 0, .5);
    }

    @include sp-layout {
        font-size: 9px;
        padding: 2.5px;
        text-shadow: 0 0 1px rgba(0, 0, 0, .5);
    }
}