.header-logo {
  display: block;
  margin: 0 auto;
  transform: translateY(-100%);
  animation: bound 3s ease 0s forwards;

  @include pc-layout {
    width: 400px;
  }

  @include sp-layout {
    width: 65%;
  }
}
