.preview-container {
  position: fixed;
  top: 0;
  right: 0;
  width: calc((100% - 740px) / 2);
  height: 100%;
  transition: all 0.3s cubic-bezier(0, 0, 0, 1.01) 0s;
  transform: translateX(100%);
  border-radius: 70% 0 0 70%;

  &[data-open="true"] {
    transform: translateX(0);
    border-radius: 0% 0 0 0%;
  }

  @include sp-layout {
    display: none;
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%, -50%);

    &[data-brightness="light"] {
      color: rgba(255, 255, 255, 0.2);
    }

    &[data-brightness="dark"] {
      color: rgba(0, 0, 0, 0.2);
    }
  }

  @media screen and (max-width: 930px) {
    display: none;
  }
}
