$min-width: 1000px;
$min-height: 650px;

$theme-bg: #fcfcf3;
$theme-gray: #e4d6ce;
$theme-pink: #c2617e;
$theme-light-pink: #e5b8bd;
$theme-purple: #4a3f55;
$theme-light-purple: #817487;
$theme-mint: #a8cbc6;

$theme-color-1: #c58f6b;
$theme-color-2: #583726;
$theme-main: #fbf4f1;

$theme-modal-color1: #fbf4f1;
$theme-modal-color2: #5d3523;
$theme-modal-color3: #ccc;
$theme-modal-color4: #c2617e;