$min-width: 1000px;
$min-height: 650px;

$theme-bg: #FCFCF3;
$theme-gray: #E4D6CE;
$theme-pink: #C2617E;
$theme-light-pink: #E5B8BD;
$theme-purple: #4A3F55;
$theme-light-purple: #817487;
$theme-mint: #A8CBC6;

$theme-color-1: #C58F6B;
$theme-color-2: #583726;
$theme-main: #fbf4f1;